<style>
    ul{
        margin-bottom: 30px;

    }
    li{
        display: inline-block;
    }
</style>

<ul>
    <li><a href="/">صفحه اصلی</a></li>
    <li><a href="/about">درباره ما</a></li>
    <li><a href="/contact-us.html">تماس با ما</a></li>
</ul>