<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title> {{title}}</title>
</head>

<body>
    {{> header}}


    <h1>{{title}}</h1>
    <p>{{msg}}</p>
    <p>امروز  {{getDay}} است</p>


    {{> footer}}

</body>


</html>